.main .content{
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.main .backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.main .zalo{
    /* Hiển thị trên cùng bên dưới màn hình */
    position: fixed;
    bottom: 80px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}


.main .phone{
    /* Hiển thị trên cùng bên dưới màn hình */
    position: fixed;
    bottom: 10px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}