.viewSanPham{
    width: 400px;
    align-items: center;
    border-radius: 10px;
    background: #334A9B;
    transition: all 0.3s ease-in-out;
    
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px; /* Cách trên của hình ảnh */
}
.viewSanPham img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.viewSanPham p{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: black;
    opacity: 0.4;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.viewSanPham:hover{
    transform: scale(1.07);
    cursor: pointer;
}