.footer{
    background: #334A9B;
    padding: 10px;
}
.footer img{
    width: 10%;
    height: 10%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}
.footer img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.footer p{
    color:aliceblue;
}
.footer .text{
    text-align: center;
}