

.homepage h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #0f00b5;
    margin-top:25px;
}

.homepage h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.homepage h3{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.homepage hr{
    width: 90%;
    background: #ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

.homepage p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
.homepage .companyInfo{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background: #334A9B;
}
.homepage .companyInfo .ciImage{
    height: 100%;
    width: 50%;
}
.homepage .companyInfo .ciText{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.homepage .partner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    background: #334A9B;
    padding: 2rem 0;
}
.homepage .partner .imagelist{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.homepage .partner .imagelist img{
    height: 100px;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.homepage .partner .imagelist img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
